./addons/p5.sound.min.js -linguist-documentation
/addons/p5.sound.min.js -linguist-documentation
addons/p5.sound.min.js -linguist-documentation

pages/*.js linguist-documentation
addons/*.js linguist-documentation
assets/*.js linguist-documentation
