./addons/p5.sound.min.js -linguist-documentation
/addons/p5.sound.min.js -linguist-documentation
addons/p5.sound.min.js -linguist-documentation

./addons/p5.sound.js -linguist-documentation
/addons/p5.sound.js -linguist-documentation
addons/p5.sound.js -linguist-documentation
