
@font-face {
    font-family: "myFirstFont";
    src: url("/../../assets/Poppins-Regular.ttf");
}

.content {
  max-width: 1000px;
  margin: auto;
  background: black;
  padding: 100px;
}

body {
  font-family: myFirstFont;
  color:white;
}

h1 {
  display: block;
  font-size: 4em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align:center;
}

p {
  text-align:center;
  font-size: 2em;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3 !important
}
